:root {
    --white: #fff;
    --gray: #ccc;
    --primary: #7d972d;
    --secondary: #bf9f6d;
    --error: #ff4559;
    --information: #3b82f6;
    --success: #14903a;
    --warning: #f59e0b;
    --box-shadow-primary: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
}
